# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd
import time

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
info = pd.read_csv("Students_info_0.csv", sep=",")
for i in range(1, 10):
  now = pd.read_csv(f"Students_info_{i}.csv", sep=",")
  info = pd.concat((info, now))
marks = pd.read_csv("Students_marks_0.csv", sep=",")
for i in range(1, 10):
  now = pd.read_csv(f"Students_marks_{i}.csv", sep=",")
  marks = pd.concat((marks, now))
df = info.merge(marks, left_on="index", right_on="index")
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
del df['index']
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
print(df[['math score', 'reading score', 'writing score']].agg(['min', 'max', 'mean', 'std']))

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
df.isnull().sum().sum() > 0

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
print(df[['math score', 'reading score', 'writing score']].mean())

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
print('prepared students:\n',df.loc[df['test preparation course'] == 'completed'][['reading score', 'math score', 'writing score']].mean(), sep="")
print('unprepared students:\n',df.loc[df['test preparation course'] == 'none'][['reading score', 'math score', 'writing score']].mean(), sep="")

prepared students:
reading score    73.893855
math score       69.695531
writing score    74.418994
dtype: float64
unprepared students:
reading score    66.534268
math score       64.077882
writing score    64.504673
dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df = df.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
# Какая доля студентов сдала экзамен по математике?
print((df['math score'].values >= passmark).mean())
# Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
print((df.loc[df['test preparation'] == 'completed']['math score'].values >= passmark).mean())
# Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
print((df.loc[(df['gender'] == 'female') & (df['test preparation'] == 'none')]['math score'].values < passmark).mean())

0.865
0.9217877094972067
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
# Для каждой этнической группы выведите средний балл за экзамен по чтению
start_time = time.time()
print(df.groupby(['race/ethnicity'])['reading score'].mean())
print('execution time:', time.time() - start_time)
# Для каждого уровня образования выведите минимальный балл за экзамен по письму
start_time = time.time()
print(df.groupby(['education'])['writing score'].min())
print('execution time:', time.time() - start_time)

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
execution time: 0.00406646728515625
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
execution time: 0.008439064025878906

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
# Для каждой этнической группы выведите средний балл за экзамен по чтению
start_time = time.time()

people = {}
reading_score = {}

for i in range(len(df)):
  people[df['race/ethnicity'][i]] = people.get(df['race/ethnicity'][i], 0) + 1
  reading_score[df['race/ethnicity'][i]] = reading_score.get(df['race/ethnicity'][i], 0) + df['reading score'][i]

for i in sorted(people):
  print(i, reading_score[i] / people[i])

print('execution time:', time.time() - start_time)

# Для каждого уровня образования выведите минимальный балл за экзамен по письму
start_time = time.time()

reading_min = {}

for i in range(len(df)):
  reading_min[df['education'][i]] = min(reading_min.get(df['education'][i], 100), df['writing score'][i])

for i in sorted(reading_min):
  print(i, reading_min[i])

print('execution time: ', time.time() - start_time)

group A 64.67415730337079
group B 67.35263157894737
group C 69.10344827586206
group D 70.03053435114504
group E 73.02857142857142
execution time: 0.027835369110107422
associate's degree 35
bachelor's degree 38
high school 15
master's degree 46
some college 19
some high school 10
execution time:  0.018021583557128906

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
pd.pivot_table(df, index = ['gender', 'education'], values = ['math score', 'reading score', 'writing score']) # таблица очень умная и автоматически подсчитывает средние значения!

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
df.loc[df['math score'] >= passmark, 'Math_PassStatus'] = 'P'
df.loc[df['math score'] < passmark, 'Math_PassStatus'] = 'F'
df.loc[df['writing score'] >= passmark, 'Writing_PassStatus'] = 'P'
df.loc[df['writing score'] < passmark, 'Writing_PassStatus'] = 'F'
df.loc[df['reading score'] >= passmark, 'Reading_PassStatus'] = 'P'
df.loc[df['reading score'] < passmark, 'Reading_PassStatus'] = 'F'

print(df['Math_PassStatus'].value_counts())
print(df['Reading_PassStatus'].value_counts())
print(df['Writing_PassStatus'].value_counts())

P    865
F    135
Name: Math_PassStatus, dtype: int64
P    910
F     90
Name: Reading_PassStatus, dtype: int64
P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df.loc[(df.Math_PassStatus == 'P') & (df.Reading_PassStatus == 'P') & (df.Writing_PassStatus == 'P'), 'OverAll_PassStatus'] = 'P'
df.loc[((df.Math_PassStatus == 'P') & (df.Reading_PassStatus == 'P') & (df.Writing_PassStatus == 'P')) == False, 'OverAll_PassStatus'] = 'F'

print('Passed all exams:', df.OverAll_PassStatus.value_counts()['P'])

Passed all exams: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
    if average_mark > 90:
      return 'A'
    elif average_mark <= 90 and average_mark > 80:
      return 'B'
    elif average_mark <= 80 and average_mark > 70:
      return 'C'
    elif average_mark <= 70 and average_mark > 60:
      return 'D'
    elif average_mark <= 60 and average_mark >= 50:
      return 'E'
    else:
      return 'F'

df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis = 1)
df['Grade'] = df['Grade'].apply(GetGrade)

print(df['Grade'].value_counts())

D    260
C    253
E    190
B    144
F    103
A     50
Name: Grade, dtype: int64